@import "../_bootstrap/scss/bootstrap";

///////////////  T E R M I N A L  ///////////////
// TO RENDER CHANGES TO App.css: 
// sass ./src/_scss/custom.scss ./src/App.css
///////////////  T E R M I N A L  ///////////////


///////////////  T H E M E  C O L O U R S  ///////////////

$primary: #00296B;
$secondary: #C2D9FF;
//$light: #FFD166;
$dark: #001329;


///////////////  B O D Y  C S S  N O T E S  ///////////////
body {
  background-color: $light;
  font-family: karla, sans-serif;
  font-weight: 350;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

em {
  font-family: karlaItalics;
  font-synthesis: none;
}

strong {
  font-weight: 600;
}

.lead {
  font-weight: 350;
  font-size: large;
}


///////////////  I M P O R T  F O N T S  ///////////////
@font-face {
  font-family: rockSalt;
  src: url("./_fonts/Rock_Salt/RockSalt-Regular.ttf");
}

@font-face {
  font-family: nothingYouCouldDo;
  src: url("./_fonts/Nothing_You_Could_Do/NothingYouCouldDo-Regular.ttf");
}

@font-face {
  font-family: specialElite;
  src: url("./_fonts/Special_Elite/SpecialElite-Regular.ttf");
}

@font-face {
  font-family: raleway;
  src: url("./_fonts/Raleway/Raleway-VariableFont_wght.ttf") format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: ralewayItalics;
  src: url("./_fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf") format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: karla;
  src: url("./_fonts/Karla/Karla-VariableFont_wght.ttf") format('truetype');
  font-weight: 200 800;
  font-style: normal;
}

@font-face {
  font-family: karlaItalics;
  src: url("./_fonts/Karla/Karla-Italic-VariableFont_wght.ttf") format('truetype');
  font-weight: 200 800;
  font-style: italic;
}

@font-face {
  font-family: zillaSlab;
  src: url("./_fonts/Zilla_Slab/ZillaSlab-Regular.ttf");
}

@font-face {
  font-family: zillaSlabBold;
  src: url("./_fonts/Zilla_Slab/ZillaSlab-SemiBold.ttf")
}

@font-face {
  font-family: openSans;
  src: url("./_fonts/Open_Sans/OpenSans-Regular.ttf");
}


///////////////  N A V B A R  ///////////////

.navbar-brand {
  font-family: zillaSlabBold, sans-serif;
  text-shadow: 5px 3px 4px $dark;
}

.navbar {
  font-family: raleway, sans-serif;
  font-weight: 300;
}


///////////////  S I T E  H E A D E R   ///////////////

.header {
  //background-color: $blue-800;
  background-color: $primary;
  //color: $blue-100;
  color: $secondary;
  background-image: var(--bs-gradient);
  text-shadow: 5px 3px 5px $dark;
}

.header-title {
  //text-decoration: underline;
  //font-size: $h1-font-size;
  //font-weight: bold;
  text-align: center;
  font-family: zillaSlabBold, sans-serif;
}

.header-subtitle {
  text-align: center;
  //font-size: $h4-font-size;
  font-family: raleway, sans-serif;
  font-size: $h5-font-size;
}


///////////////  P H O T O  C A R O U S E L  ///////////////

.carousel-title {
  font-family: rockSalt, sans-serif;
  text-shadow: 2px 5px 5px $dark;
}

.carousel-desc {
  font-family: raleway, sans-serif;
  text-shadow: 4px 2px 3px $dark;
}

.status-date {
  font-weight: 300;
  font-synthesis: none;
}


///////////////  P A G E  H E A D I N G S  ///////////////

.page-heading {
  color: $primary;
  text-align: center;
  font-family: zillaSlab, sans-serif;
}

.page-heading-2 {
  color: $primary;
  text-align: center;
  font-family: zillaSlabBold, sans-serif;
}

.bg-light-blue {
  background-color: $blue-100;
}

.page-subheading {
  //color: $blue-800;
  color: $primary;
  text-align: center;
  font-family: zillaSlab, sans-serif;
}


///////////////  S H O W  I N F O R M A T I O N  ///////////////

/*  OLD VERSION
.show-info {
  background-color: $secondary;
  background-image: var(--bs-gradient);
  color: $blue-900;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) inset;
}*/

.show-info {
  background-color: $secondary;
  //background-color: $blue-200;
  //background-image: var(--bs-gradient);
  color: $blue-900;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.show-info-name {
  //font-family: specialElite;
  font-family: zillaSlab, sans-serif;
  //font-weight: 600;
  //font-size: xx-large;
  font-size: $h1-font-size;
  color: $primary;
}

.show-info-role {
  //font-size: larger;
  font-family: raleway, sans-serif;
  font-weight: 350;
  //font-family: zillaSlab, sans-serif;
  color: $primary;
}

.show-info-role strong {
  font-weight: 601;
  font-synthesis: none;
}

.role-font {
  font-family: zillaSlabBold, sans-serif;
}

.show-info-creatives {
  font-family: ralewayItalics, sans-serif;
  font-synthesis: none;
  font-weight: 350;
  //font-family: nothingYouCouldDo;
}

.show-info-readmore {
  font-family: karla;
  font-size: smaller;
  font-weight: 300;
}

.show-info-date {
  text-align: right;
  vertical-align: text-top;
}

/*!
 *.show-info-desc {
 *  text-align: justify;
 *  border-right: 1px solid $primary;
 */

/*.show-info-sidebar {
 *  border-left: 1px solid $primary;
 *}
 */


///////////////  S H O W  I N F O  -  O N  A  P A G E  ///////////////
//////////////////////////////  unused  //////////////////////////////

.page-info {
  background-color: $blue-200;
  background-image: var(--bs-gradient);
  color: $blue-900
}

.page-info-producer {
  font-size: larger;
  font-weight: bold;
}

.page-info-venue {
  font-size: larger;
}

.page-info-creatives {
  font-style: italic;
}

.page-info-date {
  text-align: right;
  vertical-align: text-top;
}


///////////////  B L O C K Q U O T E S  ///////////////

.blockquote {
  font-family: nothingYouCouldDo, sans-serif;
  color: $primary;
}

.blockquote-footer {
  font-family: rockSalt, sans-serif;
  color: $dark;
}


///////////////  S T I C K Y  N O T E S  ///////////////

.sticky {
  background-color: $light;
  display: block;
  padding: 1em;
  margin: 2em;
  border-radius: 0.25rem;
}

.sticky-a {
  position: relative;
  transform: rotate(-4deg);
  box-shadow: -0.035rem 0.999rem 1rem rgba(0,0,0,0.15);
}

.sticky-b {
  position: relative;
  transform: rotate(+2deg);
  box-shadow: 0.017rem 1.000rem 1rem rgba(0,0,0,0.15);
}


///////////////  E M B E D D E D  V I D E O S  ///////////////

.embedded-video {
  box-shadow: 0rem 0.5rem 1rem rgba(0,0,0,0.3);
  border-radius: 0.25rem;
}


///////////////  P A G E  F O O T E R  ///////////////

.footer {
  background-color: $gray-400;
  font-family: karlaItalics;
  font-synthesis: none;
  //font-style: italic;
  text-align: right;
  background-image: var(--bs-gradient);
  vertical-align: middle;
}

.footer-image {
  filter: drop-shadow(0rem 0.5rem 1rem rgba(0,0,0,0.7));
  -webkit-filter: drop-shadow(0rem 0.5rem 1rem rgba(0,0,0,0.45));
}


///////////////  S T A T U S  ///////////////

.status {
  transform: translate(0,3rem);
}


///////////////  V A R I A B L E S  ///////////////

$enable-shadows: true;
$enable-gradients: true;
$enable-rounded: true;